<ngx-ui-loader></ngx-ui-loader>
<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">Overview</h4>
        </div>
    </div>
</div>
<!-- End Breadcrumbbar -->
<!-- Start Contentbar -->
<div class="contentbar">
    <!-- Start row -->
    <div class="row">
        <!-- Start col -->
        <div class="col-lg-12 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col-12">
                            <p class="font-15">Online User</p>
                        </div>
                        <div class="col-12 text-right">
                            <div style="text-align:center">
                                <apx-chart [series]="onlineUserChartOptions.series" [chart]="onlineUserChartOptions.chart" [xaxis]="onlineUserChartOptions.xaxis" [title]="onlineUserChartOptions.title"></apx-chart>
                            </div>
                        </div>
                        <div class="col-12 widget-bottom row">
                            <div class="col-6 text-center">
                                <h1>{{todayOnlineCount}}</h1>
                            </div>
                            <div class="col-6 pt-2">
                                Online Users Today
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col-12">
                            <p class="font-15">New User</p>
                        </div>
                        <div class="col-12 text-right">
                            <apx-chart [series]="weeekNewUserChartOptions.series" [chart]="weeekNewUserChartOptions.chart" [xaxis]="weeekNewUserChartOptions.xaxis" [title]="weeekNewUserChartOptions.title" [colors]="weeekNewUserChartOptions.colors"></apx-chart>
                        </div>
                        <div class="col-12 widget-bottom row">
                            <div class="col-6 text-center">
                                <h1>{{weekNewCount}}</h1>
                            </div>
                            <div class="col-6 pt-2">
                                New Users This Week
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col-12">
                            <p class="font-15">Actively Week Users</p>
                        </div>
                        <div class="col-12 text-right">
                            <apx-chart [series]="weeekOnlineUserChartOptions.series" [chart]="weeekOnlineUserChartOptions.chart" [xaxis]="weeekOnlineUserChartOptions.xaxis" [title]="weeekOnlineUserChartOptions.title" [colors]="weeekOnlineUserChartOptions.colors"></apx-chart>
                        </div>
                        <div class="col-12 widget-bottom row">
                            <div class="col-6 text-center">
                                <h1>{{weekOnlineCount}}</h1>
                            </div>
                            <div class="col-6 pt-2">
                                Active Users This Week
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End col -->
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-8">
            <div class="card m-b-30" *ngFor="let item of singleUserDetailsArray;let i = index;">
                <div class="card-body" *ngIf="i < 1">
                    <div class="row align-items-center">
                        <div class="col-6 col-lg-9">
                            <div class="profilebox py-4 text-center">
                                <img [src]="item.profile.userpic" [alt]="item.profile.name_profile" class="img-fluid mb-3">
                                <div class="profilename">
                                    <h5>{{item.profile.name_profile}}</h5>
                                    <p class="text-muted my-3"><a href>{{item.profile.email}}</a></p>
                                    <div class="row align-items-center" *ngIf="item.posts">
                                        <div class="col-2 col-lg-2" *ngFor="let img of objectKeys(item.posts)">
                                            <img [src]="item.posts[img].image" [alt]="item.posts[img].title" class="img-fluid mb-3" *ngIf="item.posts[img].image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="text-center py-3 mb-3">
                                <button type="button" class="btn text-center" (click)="onDeleteMember(item.id)"><i class="fa fa-trash" style="color: #F41010;font-size: 40px;margin-bottom: 15px;"></i ><br/>Delete Profile</button>
                            </div>
                            <div class="text-center py-3 mb-3">
                                <button type="button" class="btn text-center">
                                    <i class="fa fa-commenting-o" aria-hidden="true" style="color: #FF8D01;font-size: 40px;margin-bottom: 15px;"></i> <br/>Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-4">
            <div class="card m-b-30">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6 col-lg-6">
                            <h5 class="card-title mb-0">Active Members</h5>
                        </div>
                        <div class="col-6 col-lg-6 text-right">
                            <a href [routerLink]="['/alluser']" class="btn btn-outline-secondary">View all</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless mb-2">
                            <tbody>
                                <tr *ngFor="let item of activeMemberData;let i = index;">
                                    <td *ngIf="i < 4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img class="align-self-center mr-3 rounded-circle" [src]="item.profile.userpic" [alt]="item.profile.name_profile" style="width: 50px;height: 50px;">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 font-16">{{item.profile.name_profile}}</h5>
                                                        <p>{{item.profile.email}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent acitve-member-btn"><a href [routerLink]="['/userprofile', item.id]" class="btn btn-outline-secondary">View Profile</a><a href="#" class="btn btn-outline-secondary">Send Message</a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>