<div id="containerbar" class="containerbar authenticate-bg">
    <!-- End Breadcrumbbar -->
    <div class="row no-gutters align-items-center justify-content-center">
        <!-- Start col -->
        <div class="col-md-6 col-lg-5">
            <!-- Start Auth Box -->
            <div class="auth-box login-box" style="margin-top:50px">
                <div class="card">
                    <div class="card-body">
                        <form #pwdForm="ngForm" (submit)="pwd(pwdForm)" name="pwdForm">
                            <h4 class="text-primary my-4">Forget Password</h4>
                            <div class="form-group">
                                <input type="text" class="form-control" id="password" placeholder="Email" [(ngModel)]="forgetpwd.email" id="email" #email="ngModel" name="email" required>
                                <p *ngIf="email.invalid && (email.dirty || email.touched)" style="color:red"><span *ngIf="email.errors?.required">This field is required</span></p>
                            </div>

                            <button type="submit" class="btn btn-success btn-lg btn-block font-18"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoader"></span> Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Auth Box -->
        </div>
        <!-- End col -->
    </div>
</div>